*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.center{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.qr-image{
    margin: 6px;
}

img{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
} 

.text{
    margin: 10px;
    text-align: center;
}

.text h1{
    font-size: 20px;
    font-weight: 700;
}

.text p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 200;
}